.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
  min-height: max(884px, 100dvh);
}

:root {
  --slider-progress: 20.689; /* ((7-1) / (30-1)) * 100 */
}

/* Custom slider styles */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

/* Webkit (Chrome, Safari, etc.) */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  border-radius: 9999px;
  background: linear-gradient(to right, #53629E calc(var(--slider-progress) * 1%), #E5E7EB calc(var(--slider-progress) * 1%));
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 9999px;
  background: #FFFFFF;
  border: 4px solid #53629E; /* border-primary */
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); /* shadow-md */
  margin-top: -9px;
}

/* Firefox */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  border-radius: 9999px;
  background: linear-gradient(to right, #53629E calc(var(--slider-progress) * 1%), #E5E7EB calc(var(--slider-progress) * 1%));
}

input[type=range]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 9999px;
  background: #FFFFFF;
  border: 4px solid #53629E;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

/* Dark mode styles */
html.dark input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #53629E calc(var(--slider-progress) * 1%), #374151 calc(var(--slider-progress) * 1%));
}
html.dark input[type=range]::-webkit-slider-thumb {
    background: #D1D5DB; /* dark:bg-gray-300 */
}

html.dark input[type=range]::-moz-range-track {
  background: linear-gradient(to right, #53629E calc(var(--slider-progress) * 1%), #374151 calc(var(--slider-progress) * 1%));
}
html.dark input[type=range]::-moz-range-thumb {
  background: #D1D5DB;
}
